@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

body {
    display: flex;
    height: 100%;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #bff1d5;
}

h1 {
    color: #222222;
    font-size: 5rem;
    margin: 10px 0;
    font-family: Oswald, sans-serif;
    text-shadow: 4px 4px 0 white;
}

.emojiButton > button {
    width: 80px;
    border: 5px solid transparent;
    cursor: pointer;
    height: 80px;
    font-size: 3rem;
    transition: .3s all;
    border-radius: 50%;
    background-color: white;
}

.emojiButton > button:not(:last-of-type) {
    margin-right: 15px;
}

.emojiButton > button:hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 15px 5px rgba(0, 0, 0, .1);
    background-color: #222222;
}

.emojiButton > button:active {
    transform: translateY(0px);
    box-shadow: 0 2px 5px 5px rgba(0, 0, 0, .1);
    background-color: #222222;
}

.btn {
    border: 5px solid transparent;
    cursor: pointer;
    background-color: white;
    border-radius: 8px;
    width: 3OOpx;
}

input[type=submit].btn:hover {
    box-shadow: 0 2px 15px 5px rgba(0, 0, 0, .1);
    background-color: #1f6965;
}

.container {
    display: flex;
}

.recipeBlock {
    width: 30%;
}

.songBlock {
    width: 30%;
}

.icon {
    width:10%;
}